In [1]:
import pandas as pd
import glob
import re

### Gộp dự liệu theo địa phương

In [2]:
all_files = glob.glob("data_original/toan_quoc/diaphuong*.csv")
all_files[0:5]

['data_original/toan_quoc\\diaphuong_2011.csv',
 'data_original/toan_quoc\\diaphuong_2012.csv',
 'data_original/toan_quoc\\diaphuong_2013.csv',
 'data_original/toan_quoc\\diaphuong_2014.csv',
 'data_original/toan_quoc\\diaphuong_2015.csv']

In [3]:
data_province = pd.read_csv('data_preprocessing/Tinh_Forest.csv', index_col=0)
dict_province = {}
for row in data_province.values:
    dict_province[row[1].lower()] = row[0]

In [4]:
data_province.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 0 to 62
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    63 non-null     int64
 1   Name    63 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [5]:
data = pd.DataFrame(columns=['Ma_Tinh', 'So_Diem_Chay', 'Nam'])

In [6]:
for file in all_files:
    name_file = re.findall('diaphuong_\d+.csv', file)
    year = re.findall('\d+.csv', name_file[0])[0].replace('.csv', '')
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns={
        'Tên tỉnh' : 'Ten_Tinh',
        'Số điểm cháy': 'So_Diem_Chay'
    })
    df['Nam'] = int(year)
    df['Ma_Tinh'] = df['Ma_Tinh'] = df['Ten_Tinh'].apply(lambda x: dict_province[x.lower()])
    df = df.drop(['#', 'Ten_Tinh'], axis=1)
    data = data.append(df)

In [7]:
data = data[data.Ma_Tinh != 0]
data = data.reset_index(drop=True) 
data

    Ma_Tinh So_Diem_Chay   Nam
0        62         1460  2011
1        64         1082  2011
2        66          926  2011
3        40          612  2011
4        11          578  2011
..      ...          ...   ...
523      36           20  2020
524      33           14  2020
525      26           12  2020
526      31            6  2020
527      34            3  2020

[528 rows x 3 columns]

In [8]:
data.to_csv('data_preprocessing/general_nation_province_year.csv')

### Gộp dự liệu theo khu vực

In [9]:
all_files = glob.glob("data_original/toan_quoc/khuvuc*.csv")
all_files[0:5]

['data_original/toan_quoc\\khuvuc_2011.csv',
 'data_original/toan_quoc\\khuvuc_2012.csv',
 'data_original/toan_quoc\\khuvuc_2013.csv',
 'data_original/toan_quoc\\khuvuc_2014.csv',
 'data_original/toan_quoc\\khuvuc_2015.csv']

In [10]:
pd.read_csv('data_original/toan_quoc\\khuvuc_2011.csv', index_col=0).head(5)

   #            Tên vườn quốc gia  Số điểm cháy
0  1        Vườn quốc gia Yok Đôn           281
1  2    Vườn quốc gia Chư Mom Ray            15
2  3       Vườn quốc gia Cát Tiên            15
3  4  Vườn quốc gia Bidoup-Núi Bà             7
4  5       Vườn quốc gia Núi Chúa             6

In [11]:
data = pd.DataFrame(columns=['Ten_Vuon_Quoc_Gia', 'So_Diem_Chay', 'Nam'])

In [12]:
for file in all_files:
    name_file = re.findall('khuvuc_\d+.csv', file)
    year = re.findall('\d+.csv', name_file[0])[0].replace('.csv', '')
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns={
        'Tên vườn quốc gia' : 'Ten_Vuon_Quoc_Gia',
        'Số điểm cháy': 'So_Diem_Chay'
    })
    df['Nam'] = int(year)
    df = df.drop(['#'], axis=1)
    data = data.append(df)

In [13]:
data = data.reset_index(drop=True) 
data

               Ten_Vuon_Quoc_Gia So_Diem_Chay   Nam
0          Vườn quốc gia Yok Đôn          281  2011
1      Vườn quốc gia Chư Mom Ray           15  2011
2         Vườn quốc gia Cát Tiên           15  2011
3    Vườn quốc gia Bidoup-Núi Bà            7  2011
4         Vườn quốc gia Núi Chúa            6  2011
..                           ...          ...   ...
180      Vườn quốc gia Tràm Chim            1  2020
181       Vườn quốc gia Vũ Quang            1  2020
182        Vườn quốc gia Tam Đảo            1  2020
183          Vườn quốc gia Ba Bể            1  2020
184        Vườn quốc gia Bạch Mã            1  2020

[185 rows x 3 columns]

In [14]:
data.to_csv('data_preprocessing/general_nation_area_year.csv')

### Gộp dự liệu theo loại rừng

In [15]:
all_files = glob.glob("data_original/toan_quoc/loairung*.csv")
all_files[0:5]

['data_original/toan_quoc\\loairung_2011.csv',
 'data_original/toan_quoc\\loairung_2012.csv',
 'data_original/toan_quoc\\loairung_2013.csv',
 'data_original/toan_quoc\\loairung_2014.csv',
 'data_original/toan_quoc\\loairung_2015.csv']

In [16]:
pd.read_csv('data_original/toan_quoc\\loairung_2011.csv', index_col=0).head(5)

   # Loại rừng  Số điểm cháy
0  1  Sản xuất          6395
1  2  Phòng hộ          1562
2  3  Đặc dụng           608

In [17]:
data = pd.DataFrame(columns=['Loai_Rung', 'So_Diem_Chay', 'Nam'])

In [18]:
for file in all_files:
    name_file = re.findall('loairung_\d+.csv', file)
    year = re.findall('\d+.csv', name_file[0])[0].replace('.csv', '')
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns={
        'Loại rừng' : 'Loai_Rung',
        'Số điểm cháy': 'So_Diem_Chay'
    })
    df['Nam'] = int(year)
    df = df.drop(['#'], axis=1)
    data = data.append(df)

In [19]:
data = data.reset_index(drop=True) 
data.head(5)

          Loai_Rung So_Diem_Chay   Nam
0          Sản xuất         6395  2011
1          Phòng hộ         1562  2011
2          Đặc dụng          608  2011
3          Sản xuất         7222  2012
4          Phòng hộ         3069  2012
5          Đặc dụng          940  2012
6          Sản xuất         5851  2013
7          Phòng hộ         2308  2013
8          Đặc dụng          589  2013
9          Sản xuất         7385  2014
10         Phòng hộ         3685  2014
11         Đặc dụng          973  2014
12         Sản xuất         7521  2015
13         Phòng hộ         2992  2015
14         Đặc dụng          857  2015
15         Sản xuất         6854  2016
16         Phòng hộ         3373  2016
17         Đặc dụng         1159  2016
18         Sản xuất        19026  2017
19         Phòng hộ         7791  2017
20         Đặc dụng         2089  2017
21  Ngoài quy hoạch          517  2017
22         Sản xuất       128420  2018
23         Phòng hộ        49485  2018
24         Đặc dụng        17200  2018
25  Ngoài quy hoạch         8466  2018
26         Sản xuất       125297  2019
27         Phòng hộ        70252  2019
28         Đặc dụng        18811  2019
29  Ngoài quy hoạch        11652  2019
30         Sản xuất        20121  2020
31         Phòng hộ         8524  2020
32         Đặc dụng         3548  2020
33  Ngoài quy hoạch         1542  2020

In [20]:
data.to_csv('data_preprocessing/general_nation_type_forest_year.csv')

### Gộp dự liệu theo thang

In [21]:
all_files = glob.glob("data_original/toan_quoc/thang*.csv")
all_files[0:5]

['data_original/toan_quoc\\thang_2011.csv',
 'data_original/toan_quoc\\thang_2012.csv',
 'data_original/toan_quoc\\thang_2013.csv',
 'data_original/toan_quoc\\thang_2014.csv',
 'data_original/toan_quoc\\thang_2015.csv']

In [22]:
pd.read_csv('data_original/toan_quoc\\thang_2011.csv', index_col=0).head(5)

   #  Tháng  Số điểm cháy
0  1      1           386
1  2      2          1967
2  3      3          1292
3  4      4          2099
4  5      5           960

In [23]:
data = pd.DataFrame(columns=['Thang', 'So_Diem_Chay', 'Nam'])

In [24]:
for file in all_files:
    name_file = re.findall('thang_\d+.csv', file)
    year = re.findall('\d+.csv', name_file[0])[0].replace('.csv', '')
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns={
        'Tháng' : 'Thang',
        'Số điểm cháy': 'So_Diem_Chay'
    })
    df['Nam'] = int(year)
    df = df.drop(['#'], axis=1)
    data = data.append(df)

In [25]:
data = data.reset_index(drop=True) 
data

    Thang So_Diem_Chay   Nam
0       1          386  2011
1       2         1967  2011
2       3         1292  2011
3       4         2099  2011
4       5          960  2011
..    ...          ...   ...
111     4         2689  2020
112     5         7658  2020
113     6         1733  2020
114     7           59  2020
115     8          314  2020

[116 rows x 3 columns]

In [26]:
data.to_csv('data_preprocessing/general_nation_month_year.csv')